
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body{
    font-family: "Philosopher", sans-serif;
    background-color: #4B70F5;
}
#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    color: white;
    font-size: 50px;
}
.subtitulo{
    color: white;
    font-size: 35px;

}

.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 10px;
}
.tarjeta-mokepon {
    width: 125px;
    height: 110px;
    background: #E2E2B6;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarjeta-mokepon img{
    width: 75px;
}
#boton-mascota{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background-color: #BED754;
    border: 2px solid white;
    font-family: "Shrikhand", serif;
    margin-top: 30px;

}
input {
    display: none;
}
#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}
.botones-ataques {
    background-color: aquamarine;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    border-color: transparent;
    width: 100px;
    font-family: "Philosopher", sans-serif;
}
#mensajes {
    width: 280px;
    background: #BED754;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: 20px;
    flex-direction: column;
}
#boton-reiniciar {
    border: transparent;
    color: blueviolet;
    font-family: "Philosopher", sans-serif;
}
.combate-resulatdo{
    display: grid;
    grid-template-columns: 100px 100px;
}
.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@media (max-width: 360px) {
    .tarjetas, .tarjetas-ataques {
        flex-direction: column;
    }

}